.spinner-container {
  position: fixed;
  inset: 0; /* full screen */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.6);
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
